/* Header.css */
.animated-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .dot {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    opacity: 0;
    animation: wave 1s infinite;
  }
  
  .dot1 {
    animation-delay: 0.2s;
  }
  
  .dot2 {
    animation-delay: 0.4s;
  }
  
  .dot3 {
    animation-delay: 0.6s;
  }
  
  @keyframes wave {
    0%, 100% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-10px);
      opacity: 1;
    }
  }
  