
.block1 {
	position: relative;
margin: 15px;

	background: linear-gradient(0deg, #000, #272727);
  border-radius:50%;
  padding: 15px;
  border-width: 2px;
}

.block1:before, .block1:after {
	content: '';
	position: absolute;
    border-width: 2px;
	left: -2px;
	top: -2px;
   border-radius:50%;
	background: linear-gradient(45deg, #D4AF37 , #ebcc67 , #B69119 ,#e5ddc2 ,#D4AF37 , #dbd4bd , #B69119 ,#ddd8c6 ,#D4AF37 , #dac379 , #B69119 ,#d8cba0 );
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block1:after {
	filter: blur(50px);
  
}
.bg-gold{
    background: radial-gradient(circle, rgba(255,208,117,1) 0%, rgba(175, 124, 30, 0.733) 100%);
}